{% extends 'blog/index.html' %}

{% block content %}
<div class="jumbotron bg-transparent">
    <h5 class="text-center text-monospace display-4">
        {{ post.title }}
    </h5>

    <p class="text-muted text-center text-monospace">
        Автор: {{ post.author }}
    </p>

    <hr class="my-4">
    
    <p class="text-justify lead">
        {{ post.text }}
    </p>

    <hr class="my-4">

    <small class="text-muted text-monospace">
        <p class="text-center">
        Последнее обновление: {{ post.publication_date }}
        </p>
    </small>
</div>
{% endblock %}