{% extends 'blog/index.html' %}

{% block content %}
    <div class="card-deck">
        {% for post in posts %}
            <div class="card border-dark">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ post.title }}
                        {% if post.publication_date == current_date %}
                            <span class="badge badge-secondary">New</span>
                        {% endif %}
                    </h5>

                    <p class="card-subtitle mb-2 text-muted">
                        Автор: {{ post.author }}
                    </p>
                    
                    <p class="card-text">
                        {{ post.text }}
                    </p>

                    {% if post.text_size > 200 %}
                        <a href="{% url 'post_detail' primary_key=post.pk %}" class="card-link">
                            Читать дальше
                        </a>
                    {% endif %}
                </div>

                <div class="card-footer">
                    <small class="text-muted">
                        Последнее обновление: {{ post.publication_date }}
                    </small>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
